{% extends 'base.html.twig' %}

{% block title %}Movie Show{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-center mt-4">
			<div class="card-header">
		<h5 class="card-title">{{ movie.title }} #{{ movie.id }}</h5>
			</div>
			<div class="row card-body">
					<h1>Informations du Film</h1>
						<table class="table">
						<thead>
							<tr>
								<th scope="col">Id M</th>
								<th scope="col">Titre</th>
								<th scope="col">Durée </th>
								<th scope="col">Release Date</th>
								<th scope="col">CreatedAt</th>
								<th scope="col">UpdatedAt</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<th scope="row">{{ movie.id }}</th>
									<td>{{ movie.title }}</td>
									<td>{{ movie.duration }} min</td>
									<td>{{ movie.releaseDate|date("m/d/Y") }}</td>
									<td>{{ movie.createdAt|date("m/d/Y H : i") }}</td>
									<td>{{ movie.updatedAt|date("m/d/Y H : i") }}</td>
								</tr>
						</tbody>
					</table>

					<h1>Genre</h1>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Id G</th>
									<th scope="col">Name</th>
								</tr>
							</thead>
							<tbody>
							{% for genre in movie.genres %}
								<tr>
										<th scope="row">{{ genre.id }}</th>
										<td>{{ genre.name }}</td>
								</tr>
							{% else %}
								<p>Aucun genre n'est rattaché à ce film !</p>	
							{% endfor %}
							</tbody>
						</table>

					<h1>Casting</h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Id P</th>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Role</th>
								<th scope="col">Credit Order</th>
							</tr>
						</thead>
						<tbody>
					{% for casting in castings %}
								<tr>
									<th scope="row">{{ casting.person.id }}</th>
									<td>{{ casting.person.lastname }}</td>
									<td>{{ casting.person.firstname }}</td>
									<td>{{ casting.role }}</td>
									<td>{{ casting.creditOrder }}</td>
								</tr>
					{% else %}
						<p>Aucun casting n'est rattaché à ce film !</p>	
					{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer">
				<p>Durée : {{ movie.duration }} min</p>
			</div>
		</div>
	</div>
{% endblock %}


