{% extends 'back/base.html.twig' %}

{% block title %}Jobs List{% endblock %}

{% block body %}

	<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Jobs</h1></div>
		<div class="col-1 d-flex align-items-center"><a href="{{ path('back_job_add') }}" class="btn btn-success">Ajouter</a></div>
	</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">department</th>
					<th scope="col">createdAt</th>
					<th scope="col">updatedAt</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>

			{% for job in jobs %}
				<tbody>
					<tr>
						<th scope="row">{{ job.id }}</th>
						<td>{{ job.name }}</td>
						<td>{{ job.department }}</td>
						<td>{{ job.createdAt|date("m/d/Y H : i") }}</td>
						<td>{{ job.updatedAt|date("m/d/Y H : i") }}</td>

						<form action="{{ path('back_job_edit', {id: job.id}) }}" method="get">
                        <td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-success edit"><i class="far fa-edit"></i></i></button>
							</div>
						</td>
						</form>
						<form action="{{ path('back_job_delete', {id: job.id}) }}" method="get">
						<td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-danger delete"><i class="far fa-trash-alt"></i></button>
							</div>
						</td>
						</form>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
{% endblock %}