{% extends '/base.html.twig' %}

{% block title %}Movies List{% endblock %}

{% block body %}

	<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Films</h1></div>
	</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Release Date</th>
					<th scope="col">duration</th>
					<th scope="col">createdAt</th>
					<th scope="col">updatedAt</th>
				</tr>
			</thead>

			{% for index, movie in movies %}
				<tbody>
					<tr>
						<th scope="row">
							{# <a href="{{ path('show', {id: post.id}) }}">{{ index+1 }}</a> #}
                            <a href="{{ path('movie_show', {id: movie.id}) }}">{{ movie.id }}</a>
						</th>
						<td>{{ movie.title }}</td>
						<td>{{ movie.releaseDate|date("m/d/Y") }}</td>
						<td>{{ movie.duration }} min</td>
						<td>{{ movie.createdAt|date("m/d/Y H : i") }}</td>
						<td>{{ movie.updatedAt|date("m/d/Y H : i") }}</td>

					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
{% endblock %}