{% extends 'back/base.html.twig' %}

{% block title %}Movies List{% endblock %}

{% block Movies %}active{% endblock %}

{% block body %}

	<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Films</h1></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="col-1 d-flex align-items-center"><a href="{{ path('back_movie_add') }}" class="btn btn-success">Ajouter</a></div>
		{% endif %}
	</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Release Date</th>
					<th scope="col">duration</th>
					<th scope="col">createdAt</th>
					<th scope="col">updatedAt</th>
					<th scope="col">poster</th>
					<th scope="col">rating</th>
					{% if is_granted('ROLE_ADMIN') %}
					<th scope="col"></th>
					<th scope="col"></th>
					{% endif %}
				</tr>
			</thead>

			{% for index, movie in movies %}
				<tbody>
					<tr>
						<th scope="row">{{ movie.id }}</th>
						<td>{{ movie.title }}</td>
						<td>{{ movie.releaseDate|date("m/d/Y") }}</td>
						<td>{{ movie.duration }} min</td>
						<td>{{ movie.createdAt|date("m/d/Y H : i") }}</td>
						<td>{{ movie.updatedAt|date("m/d/Y H : i") }}</td>
						<td>{{ movie.poster|u.truncate(20) }}</td>
						<td>{{ movie.rating }}</td>
						{% if is_granted('ROLE_ADMIN') %}
						<form action="{{ path('back_movie_edit', {id: movie.id}) }}" method="get">
                        <td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-success edit"><i class="far fa-edit"></i></i></button>
							</div>
						</td>
						</form>
						<form action="{{ path('back_movie_delete', {id: movie.id}) }}" method="get">
						<td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-danger delete"><i class="far fa-trash-alt"></i></button>
							</div>
						</td>
						</form>
						{% endif %}
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
{% endblock %}