{% extends 'back/base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block Users %}active{% endblock %}

{% block body %}

	<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Utilisateurs</h1></div>
		<div class="col-1 d-flex align-items-center"><a href="{{ path('back_user_add') }}" class="btn btn-success">Ajouter</a></div>
	</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">E-mail</th>
					<th scope="col">Mot de passe</th>
					<th scope="col">Roles</th>
					{% if is_granted('ROLE_ADMIN') %}
					<th scope="col"></th>
					<th scope="col"></th>
					{% endif %}
				</tr>
			</thead>

			{% for user in users %}
				<tbody>
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td>{{ user.email }}</td>
						<td>{{ user.password }} min</td>
						<td><ul>
							{% for role in user.roles %}
								<li>{{ role }}</li>
							{% endfor %}
						</td></ul>
						{% if is_granted('ROLE_ADMIN') %}
						<form action="{{ path('back_user_edit', {id: user.id} ) }}" method="get">
                        <td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-success edit"><i class="far fa-edit"></i></i></button>
							</div>
						</td>
						</form>
						<form action="{{ path('back_user_delete', {id: user.id} ) }}" method="get">
						<td>
							<div class="btn-group" role="group" aria-label="Basic mixed styles example">
								<button type="submit" class="btn btn-danger delete"><i class="far fa-trash-alt"></i></button>
							</div>
						</td>
						</form>
						{% endif %}
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
{% endblock %}